@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Cabin:ital@0;1&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Cabin:ital@0;1&family=Open+Sans&family=Staatliches&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #7386BF;
    font-size: 16px;
}
article {
    background-color: white;
    text-align: justify;
    line-height: 160%;
    width: 1000px;
    padding: 15px;
    margin: auto;
}
article > h2 {
    font-family: 'Staatliches', cursive;
    font-weight: normal;
}
header {
   background-image: linear-gradient(to bottom, #5679BF, #410241);
    color: white;
    text-align: center;
    padding: 5px;
    margin: -8px -8px 0 -8px;
}
header h1 {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 3em; 
}
header > p {
    margin-top: -20px;
}
section {
    background-color: rgb(44, 38, 38);
    color: white;
    padding: 2px;
    padding-left: 10px;
    margin: 0px 151px 0 151px;
}
section > p {
    margin: 0px;
    font-size: small;
    font-weight: bold;
}
/* Topicos Front-end ou Back-End */ 
.topicos > p {
    font-weight: bold;
}
.topicos > h4 {
    font-weight: normal;
}
/* imagens */ 
.imagem-front-back {
    float: right;
    margin-top: -280px;
}
.imagem-programador {
    float: right;
    margin-top: -20px;
}
/* video */ 
.video {
    text-align: center;
}
/* RODAPÉ */

Footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0 -8px -8px -8px ;
}
footer > p {
    margin: 20px;
}
