@charset "UTF-8"; 

/* fonte da pagina */
@font-face {
    font-family: 'open-sans', sans-serif;
    src: url('/fonte/Noto_Sans_Display/NotoSansDisplay-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}
/* regras */
* {
    font-family: var(--fonte-padrao); 
    margin: 0;
    padding: 0;

}
/* variáveis */
:root {
    --fonte-padrao: 'open-sans', sans-serif;
    --cor01: #9F3DEB; 
    --cor02: #7600D1; 
    --cor03: #5C00A3;
    --cor04: #5F01D1;
    --cor05: #3C0052;  
}

/* cabeçalho da pagina */ 

header {
    background-color: #2a2a2a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
#logo {
    color: white;
    text-shadow: -6px 1px 4px black;
}
#menu > ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

#menu > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: .7s;
}

#menu > ul > li > a:hover {
    color: var(--cor02);
}

/* ------- conteúdo da pagina ------ */

/* artigo 1 - do cabeçalho - imagem de fundo*/ 
div.destaque {
    background-image: url(../imagens/imagem\ de\ fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 150px;
    box-shadow: 0px 4px 29px #292323;
}

div.destaque > article{
    max-width: 600px;
    padding: 5% 0 0 10%;
}
div.destaque > article h1 {
    line-height: 1.3em;
    font-size: 4em;
    margin-bottom: 7px;
    color: white;
    text-shadow: 4px 4px 6px #2e2d2d54;
}
div.destaque > article p {
    line-height: 1.2em;
    font-weight: 600;
    text-align: justify;
    color: white;
    margin-bottom: 50px;
}

div.destaque > article a {
    background-color: #5C00A3;
    color: white;
    box-shadow: 1px 1px 6px #f0f0f096;

    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    transition: .7s;
}
div.destaque > article a:hover {
    background-color: var(--cor05);
    text-decoration: underline;
}

/* artigo 2 - vantagens  */ 

article#vantagens {
    background-color: var(--cor02);
    padding: 1px;
}
div#box-vantagens {
    max-width: 1000px;
    margin: 7% auto 10% auto;
    color: white;
}

div.sobre-vantagens {
    line-height: 2em;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
div.sobre-vantagens > h1 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 20px;
}
p.frase-gadelha {
    font-size: 85%;
}

/* topicos - vantagens */ 

div.topicos {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
}
div.topicos h2 {
    line-height: 2em;
    padding: 10px;
}
div.topicos > div {
    flex: 1 1 100px;
    background-color: var(--cor03);
    box-shadow: 0 0px 6px var(--cor01);
    text-align: center;
    line-height: 1.5em;
    border-radius: 30px;
    margin: 10px 20px;
    padding: 20px;
    transition: .9s;
}

div.topicos > div:hover {
    border-radius: 80px;
}

/* ----- especialidades -------*/ 

article#especialidades {
    background-color: white;
    padding: 1px;
}

div.box-especialidades {
    max-width: 900px;
    margin: auto;
    margin: 5% auto;
}

div.sobre-especialidade {
    text-align: center;
    line-height: 1.5em;
    padding: 10px;
}

div.sobre-especialidade > h1 {
    font-size: 2.5em;
    color: var(--cor03);
    margin-bottom: 10px;
}
div.sobre-especialidade > p {
    font-size: 18px;
}

/* topicos - especialidades */ 

div.especialidades {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

div.especialidades > div {
    flex: 1 1 200px;
    background-color: var(--cor02);
    color: white;
    text-align: center;
    border-radius: 30px;
    margin: 10px 20px;
    padding: 20px;
    transition: .7s;
}
div.especialidades > div:hover {
    border-radius: 70px;
}

/* --------- área de contato do site ---------- */ 

div#area-contato {
    background-color: var(--cor02);
    color: white;
    padding: 30px;
}

div.box-contato {
    display: grid;
    grid-template-columns: 600px auto;
    margin: 10% auto 10% auto;
    max-width: 1100px;
    padding-right: 30px;
}

div.sobre-contato h1 {
    font-size: 3.5em;
    line-height: 2em;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
div.sobre-contato p {
    line-height: 1.5em;
    text-align: justify;
}

/* estilo - formulário */ 
div.box {
    margin-top: 50px;
    padding: 10px;
    padding-left: 30px;
}
fieldset {
    border: none;
    padding: 10px;
}

div.box-input {
    color: white;
    font-weight: bold;
    margin: 4px;
}

.user-label {
    background: none;
    outline: none;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
}

#botao-form {
    float: right;
    background-color: white;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
}
/* rodapé da pagina */ 

footer {
    background-color: #2a2a2a;
    color: white;
    padding: 10px;
}
footer p {
    line-height: 1.8em;
}
div.box-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;

}
div.box-footer > div {
    flex: 1 1 200px;
}

.footer-titulos {
    color: var(--cor02);
    line-height: 2em;
}

#icones-footer  {
    display: flex;
    padding: 0;
    list-style-type: none;
}

#icones-footer > li > a {
    padding: 0px 20px;
}

#icones-footer > li > a:hover {
    border-bottom: 2px solid white;
}

.protecao-footer {
    text-align: center;
    font-size: 80%;
}

div.endereço {
    margin-bottom: 20px;
}

 /* -------------- responsividade -------------- */ 

           /* TAMNHO 1200px */ 
@media screen and (max-width: 1200px) {

   /* artigo 1 - do cabeçalho - imagem de fundo*/ 
    div.destaque > article h1 {
        font-size: 3em;
    }
}


            /* TAMNHO 1000px */ 
@media screen and (max-width: 1000px) {
    div.box-contato {
        display: block;
    }
    div.box {
        max-width: 600px;
        margin: auto;
    }
 }


           /* TAMNHO 800px */ 
@media screen and (max-width: 800px) {

    /* artigo 1 - do cabeçalho - imagem de fundo*/ 
    div.destaque > article h1 {
        font-size: 2.5em;
    }
    div.destaque > article {
        max-width: 600px;
        margin: auto;
        padding: 10% 10px 0 10px;
    }
}

/* quebra de menu */ 
@media screen and (max-width: 700px) {
    /* cabeçalho da pagina */ 

    header {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    #logo {
        color: var(--cor05);
        font-size: 0.9em;
        text-shadow: none;
    }
    #menu > ul {
        display: flex;
        padding: 0;
        list-style-type: none;
        margin-top: 2px;
    }

    #menu > ul > li > a {
        color: #2a2a2a;
        text-decoration: none;
        font-size: 14px; 
        padding: 10px;
        transition: .7s;
    }

    #menu > ul > li > a:hover {
        color: var(--cor02);
    }
}


@media screen and (max-width: 550px) {
    div.destaque > article h1 {
        font-size: 2.5em;
    }
    div.destaque > article {
        max-width: 600px;
        margin: auto;
        padding: 15% 10px 0 10px;
    }
}


@media screen and (max-width: 300px)  {
    
}